<!-- footer -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 30px 0 50px;" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td style="padding: 0;" align="center" valign="top">
                  <!-- content -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="content-table" style="color: #333333; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 10px; font-weight: normal; line-height: 12px;" align="left" valign="top">
                        *|IF:LIST|*
                        <em>Copyright &copy; *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.</em>
                        <br>
                        <!-- *|IFNOT:ARCHIVE_PAGE|* -->
                        *|LIST:DESCRIPTION|*
                        <br>
                        <strong>Our mailing address is:</strong>
                        <br> *|HTML:LIST_ADDRESS_HTML|*
                        <br>
                        <!-- *|END:IF|* -->
                        *|ELSE:|*
                        <!-- *|IFNOT:ARCHIVE_PAGE|* -->
                        <em>Copyright &copy; *|CURRENT_YEAR|* *|USER:COMPANY|*, All rights reserved.</em>
                        <br>
                        <strong>Our mailing address is:</strong>
                        <br> *|USER:ADDRESS_HTML|*
                        <!-- *|END:IF|* -->
                        *|END:IF|*
                      </td>
                      <td class="content-table" style="color: #333333; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 10px; font-weight: normal; line-height: 12px;" align="right" valign="top">
                        <ul class="footer-utility-links">
                          <li><a href="*|UNSUB|*" class="utilityLink">unsubscribe from this list</a></li>
                          <li><a href="*|UPDATE_PROFILE|*" class="utilityLink">update subscription preferences</a></li>
                          <!-- *|IFNOT:ARCHIVE_PAGE|* -->
                            <li><a href="*|ARCHIVE|*" class="utilityLink">view email in browser</a></li>
                          <!-- *|END:IF|* -->
                        </ul>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /footer -->