<!-- Two up button centre -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 0; border: 1px solid #cccccc;" bgcolor="#f0f0f0" align="center">
      <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td style="padding: 25px 25px 10px;" align="center" valign="top">
            <table cellpadding="0" cellspacing="0" width="350" class="two-up-button-centre--headline">
              <tbody>
                <tr>
                  <td align="center" style="padding-bottom: 20px;">
                    <h2 style="margin: 0; padding: 0; color: #333333; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 20px; font-weight: bold; line-height: 24px;">Interested in Some Free Gear?</h2>
                    <p style="margin: 0; padding: 0; color: #888888; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px;">Receive a set of 4 bottle or can koozies, absolutely free, when you use either promo code below.</p>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- Two column -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td>
                  <!-- content left -->
                  <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="48%" align="left">
                    <tr>
                      <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center">
                              <a href="https://www.greenfarmparts.com" target="_blank">
                                <img style="display: block; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #333333; font-size: 14px; width: 150px; height: 150px;" src="https://gallery.mailchimp.com/c80372a35929a7b281b76c090/images/d8931b8e-26eb-427b-82ea-840d057133e7.jpg" alt="Can Koozie" width="150" height="150" border="0">
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding: 8px 0 0 0; color: #333333; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 24px;" align="center">
                              CAN4
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- /content left -->
                  <!-- content right -->
                  <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="48%" align="right">
                    <tr>
                      <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center">
                              <a href="https://www.greenfarmparts.com" target="_blank">
                                <img style="display: block; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #333333; font-size: 14px; width: 150px; height: 150px;" src="https://gallery.mailchimp.com/c80372a35929a7b281b76c090/images/af9f05e2-d5cc-4990-b717-3a4520ab2df5.jpg" alt="Bottle Koozie" width="150" height="150" border="0">
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding: 8px 0 0 0; color: #333333; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 24px;" align="center">
                              BOTTLE4
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- /content right -->
                </td>
              </tr>
            </table>
            <!-- /Two column -->
          </td>
        </tr>
        <tr>
          <td align="center" style="padding: 0 25px;">
            <!-- Button -->
            <table border="0" cellpadding="0" cellspacing="0" class="mobile-button-wrap">
              <tbody>
                <tr>
                  <td align="center"><a class="mobile-button" href="https://greenfarmparts.com" style="background-color: #BCD331; border-top: 15px solid #BCD331; border-right: 25px solid #BCD331; border-bottom: 15px solid #BCD331; border-left: 25px solid #BCD331; display: inline-block; color: #ffffff; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 16px; text-decoration: none;" target="_blank">I Want Cold Drinks!</a></td>
                </tr>
              </tbody>
            </table>
            <!-- /Button -->
          </td>
        </tr>
        <tr>
          <td>
            @@include('misc/_spacer.html', {
              "space": "25",
              "bgc": "#f0f0f0"
            })
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Two up button centre -->