<!-- One up -->

<table border="0" cellpadding="0" cellspacing="0" width="100%" class="@@moduleClass">
  <tr>
    <td style="padding: 32px 0 32px 0; background-image: url(@@bgImage);" align="center">
      <a href="@@moduleLink">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td align="center">
              <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                <tr>
                  <td style="padding: 0 16px 0 16px;" align="center" valign="top">
                    <!-- content -->
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td align="center" style="padding: 0 0 0 0; color: #333333; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                          <h3>Find This Great Deal &amp; More On</h3>
                          <img src="https://gallery.mailchimp.com/c80372a35929a7b281b76c090/images/376ced7a-6a5b-42be-bc7b-863d08971f79.png" alt="">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </a>
    </td>
  </tr>
</table>

<!-- /One up -->