<!-- Header -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="email-header">
  <tr>
    <td align="center">
      <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
          <td style="padding: 50px 0 25px;" align="center" valign="top">
            <a href="https://greenfarmparts.com">
              <img style="display: block" src="https://gallery.mailchimp.com/c80372a35929a7b281b76c090/images/84c255e8-00f1-44a3-9962-9213a077f4d8.png" width="280" height="64" border="0" alt="Green Farm Parts">
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Header -->