<!-- Three up -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 0;" bgcolor="#ffffff" align="center">
      <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
          <td align="center" valign="top" style="padding: 0 50px;">
            <!-- Three column -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #ccc; background-color: #f0f0f0;">
              <tr>
                <td style="padding: 25px 25px 0;">
                  <h2 style="font-size: 24px; line-height: 28px; margin: 0 0 15px; padding: 0; text-align: center;">Save An Additional 10% on all Seats &amp; Seat Covers</h2>
                  <!-- BEGIN COLUMNS // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="center" valign="top" class="templateColumnContainer">
                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                    <tr>
                                        <td class="leftColumnContent">
                                          <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                              <td align="center" style="padding: 10px; border: 1px solid #cccccc; background-color: #ffffff; text-align: center;">
                                                <a href="https://www.greenfarmparts.com/category-s/638.htm" target="_blank" style="display: block; text-decoration: none; color: #444444; font-weight: bold;">
                                                  <img src="https://gallery.mailchimp.com/c80372a35929a7b281b76c090/images/0c86d14f-3145-4a70-9516-41a76d2891e5.jpg" style="max-width:65px;" class="columnImage" />
                                                  Filters
                                                </a>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td align="center" valign="top" class="templateColumnContainer">
                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                    <tr>
                                        <td class="centerColumnContent">
                                          <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                              <td align="center" style="padding: 10px; border: 1px solid #cccccc; background-color: #ffffff; text-align: center;">
                                                <a href="https://www.greenfarmparts.com/category-s/639.htm" target="_blank" style="display: block; text-decoration: none; color: #444444; font-weight: bold;">
                                                  <img src="https://gallery.mailchimp.com/c80372a35929a7b281b76c090/images/268e48c9-83a7-47ed-ae63-8d11ce16d7fa.jpg" style="max-width:65px;" class="columnImage" />
                                                  Seats
                                                </a>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td align="center" valign="top" class="templateColumnContainer">
                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                    <tr>
                                        <td class="rightColumnContent">
                                          <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                              <td align="center" style="padding: 10px; border: 1px solid #cccccc; background-color: #ffffff; text-align: center;">
                                                <a href="https://www.greenfarmparts.com/John-Deere-John-Deere-Hoods-s/640.htm" target="_blank" style="display: block; text-decoration: none; color: #444444; font-weight: bold;">
                                                  <img src="https://gallery.mailchimp.com/c80372a35929a7b281b76c090/images/dec08497-9d08-441f-b8ed-674dedcfa2f7.jpg" style="max-width:65px;" class="columnImage" />
                                                  Hoods
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!-- // END COLUMNS -->
                </td>
              </tr>
              <tr>
                <td>
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="padding: 0 25px 0 25px;">
                          <!-- Button -->
                          <table border="0" cellpadding="0" cellspacing="0" class="mobile-button-wrap">
                            <tbody>
                              <tr>
                                <td align="center"><a class="mobile-button" href="https://greenfarmparts.com" style="background-color: #BCD331; border-top: 15px solid #BCD331; border-right: 25px solid #BCD331; border-bottom: 15px solid #BCD331; border-left: 25px solid #BCD331; display: inline-block; color: #ffffff; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 16px; text-decoration: none;" target="_blank">Shop All Seats</a></td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- /Button -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  @@include('misc/_spacer.html', {
                    "space": "15",
                    "bgc": "#f0f0f0"
                  })
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Three up -->


